.post {
    margin-top: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #F3F3F3;
    max-height: 1305px;
    width: 700px;
    padding: 0;
    padding: 30px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 30px;
}

.post .othersPopup {
    display: none;
    position: absolute;
    top: 5vh;
    right: 0.5vw;
    background-color: white;
    border-radius: 10px;
    width: 8vw;
    height: 25vh;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.post .report {
    display: none;
    position: absolute;
    align-items: center;
    top: 28%;
    right: 28%;
    background-color: white;
    border-radius: 10px;
    width: 60%;
    height: 25%;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.report textarea {
    margin: 5% 5% 0 5%;
    width: 89%;
    height: 75%;
}

.report button {
    width: 40%;
    height: 10%;
    margin: 1% 30%;
}

.othersPopup div {
    margin-top: 1vh;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 5vh;
}

.othersPopup div:hover {
    cursor: pointer;
    background-color: rgba(206, 201, 201, 0.308);
}

.post .infoAboutAuthor {
    display: flex;
    float: left;
    align-items: flex-start;
    height: 60px;
    width: 100%;
}

.infoAboutAuthor .post-author-img {
    object-fit: cover;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    background-color: #F3F3F3;
    padding: 0;
}

.infoAboutAuthor .description {
    width: 650px;
    margin-left: 10px;
}

.infoAboutAuthor .description:hover {
    cursor: pointer;
}

.infoAboutAuthor .others {
    display: flex;
    align-items: center;
    justify-content: center;
}

.infoAboutAuthor .others:hover {
    cursor: pointer;
}

.post .descriptionOfCV {
    display: flex;
    float: left;
    font-weight: 500;
    font-size: 20px;
    align-items: flex-start;
    margin: 20px 0 20px 0;
}

.post .picturesOfCV {
    display: flex;
    height: 988px;
    width: 700px ;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.divCvPicture {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.picture-loading {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 988px;
    background-color: white;
}


.description .NameSurname {
    font-size: 20px;
    font-weight: 500;
    margin: 0 10px  ;
}

.description .svg1 {
    width: 8px;
    height: 8px;
    background-color: blue;
    border-radius: 50px;
}

.description .top-description {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5px;
}

.description .workingPlace {
    font-size: 20px;
    font-weight: 500;
    margin: 0 10px;
    height: 24px;
}

.description .time {
    font-size: 20px;
    font-weight: 500;
    color: #686868;
    margin: 0 10px;
    height: 24px;
}

.others p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 31px;
}

.picturesOfCV .modalImg {
    width: 780px;
    height: 988px;
    object-fit: scale-down;
    padding: 0;
}


.post .bottomSide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5vh;
    margin-top: 20px;
}

.bottomSide .button {
    font-size: 20px;
    font-weight: 500;
    width: 168px;
    height: 44px;
    background: linear-gradient(270deg, #8000FF 0%, #0057FF 100%), #0057FF;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.bottomSide button:hover {
    background-color: rgba(204, 204, 215, 0.22);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 10px;
}
