.rightBox {
    display: flex;
    flex-direction: column;    
    margin-top: 30px;
    width: 360px;
    margin-left: 40px;
}

.rightBox .userTop {
    width: 300px;
    height: 480px;
    margin-top: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    border-radius: 10px;
}

.userTop .topic {
    font-size: 20px;
    font-weight: 600;
}

.userTop .listOfUsers {
    margin: 7.5px 0;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    justify-content: space-between;
    align-items: center;
}

.listOfUsers .user {
    display: flex;
    align-items: center;
}

.listOfUsers .icon {
    display: flex;
    align-items: center;
}

.listOfUsers img {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin-right: 5px;
}